.box {
  background-color: grey;
  display: flex;
  border-radius: 8px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.icon-search {
  display-items: center;
  justify: center;
  color: white;
}

.search {
  outline: none;
  color: white;
}

.nav-btn {
  color: white;
  cursor: pointer;
}
