.card-body {
  display: flex;
  flex-direction: column;
  height: 260px;
  width: 200px;
  background-color: grey;
  border: 3px solid #c9c7c7;
  padding: 5px;
  border-radius: 10px;
}

.card-item-img {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
}

.card-item-title {
  flex: 1;
  color: white;
  font-weight: bold;
}

.card-item-img img {
  max-width: 80px;
}

.card-item-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.item-price {
  color: white;
  font-weight: bold;
}

.item-options-right {
  display: flex;
  gap: 8px;
}

.card-btns {
  border: none;
  color: white;
  padding: 6px;
  border-radius: 6px;
  cursor: pointer;
}
